.timer {
    background:  rgba(0, 0, 0, 0.5) ;
    color: white;
    font-size: 40px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
}

.timer--breakTime{
    background:  rgba(52, 152, 219, 0.8);
}
.timer--workTime{
    background:  rgba(46, 204, 113, 0.5);
}
.timer > p{
    padding: 50px;
}

.timer__button{
    padding: 10px;
    background:#2ecc71;
    box-shadow:#2ecc71 0px 0px 5px 0px;
    border: none;
    font-size: 30px;
    border-radius: 10px;
    display: block;
    margin: auto;
    cursor:pointer
}
.timer__button--active{
    background:#2ecc706c;
    box-shadow:#2ecc706c 0px 0px 5px 0px;
}